{% extends "base.html"%}

{% block body %}

<html>
<style>

body{
    background-color:#fee;
}

</style>
<body>
<h1 style="
    margin-top:30px;
    margin-left:10px;
    margin-bottom:40px;
    text-transform:uppercase;
"><b>Java Info</b></h1>

<p style="margin-left:10px; font-size:25px;">Java SE lets you develop and deploy Java applications on desktops and servers. Java SE and component technologies offer the rich user interface, performance, versatility, portability, and security that today's applications require.
What is Java?</p>

<li style="margin-left:29px;">Java is a popular programming language, created in 1995.</li>
<li style="margin-left:29px; margin-bottom:20px">It is owned by Oracle, and more than 3 billion devices run Java.</li>


<p style="margin-left:10px; font-size:25px;">It is used for :</p>

<li style="margin-left:29px;">Mobile applications (specially Android apps)</li>
<li style="margin-left:29px;">Desktop applications</li>
<li style="margin-left:29px;">Web applications</li>
<li style="margin-left:29px;">Games</li>
<li style="margin-left:29px;">Mobile applications (specially Android apps)</li>
<li style="margin-left:29px;">Database connection</li>
<li style="margin-left:29px; margin-bottom:20px"> And much, much more!</li>
  
<h2>Why Use Java?</h2>


<li style="margin-left:29px;">Java works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc.)</li>
<li style="margin-left:29px;"> It is one of the most popular programming language in the world</li>
<li style="margin-left:29px;"> It has a large demand in the current job market</li>
<li style="margin-left:29px;"> It is easy to learn and simple to use</li>
<li style="margin-left:29px;">It is open-source and free</li>
<li style="margin-left:29px;">  It is secure, fast and powerful</li>
<li style="margin-left:29px;">It has a huge community support (tens of millions of developers)</li>
<li style="margin-left:29px;">Java is an object oriented language which gives a clear structure to programs and allows code to be reused, lowering development costs</li>
<li style="margin-left:29px;">As Java is close to C++ and C#, it makes it easy for programmers to switch to Java or vice versa</li>
    

<img src="/static/src/java.png" style="
    border-radius:30%;
    width:30vw;
    margin-top:30px;
    margin-left:30%;
    margin-right:50%;
    border:1px solid black;
">   
    

</body>
</html>

{% endblock body %}